
@model LoginViewModel
@using Microsoft.Owin.Security
@using Trello.Models
@{
    ViewBag.Title = "Home Page";
}

@{ var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes(); }

@if (!Request.IsAuthenticated)
{
    <div id="login-modal" style="margin-top: 170px;">
        <div class="modal-dialog">
            <div class="col-xs-12 loginmodal-container">
                <div style="font-size:50px" class="col-xs-2"><i class="fa fa-user"></i></div>
                <div style="font-size: 20px; margin-top: 30px; padding-right: 0px;padding-left: 30px" class="col-xs-10">Login to Your Account</div><br>
                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" name="Email" placeholder="Username">
                    <input type="password" name="Password" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                }

                <div class="col-xs-12">
                    <div class="login-help col-xs-4">
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    </div>
                    <div class="col-md-4 pull-right">
                        <section id="socialLoginForm">
                            @using (Html.BeginForm("ExternalLogin", "Account", new {ReturnUrl = "Boards/Index"}))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="externalLogin" id="Google" name="provider" value="Google" title="Log in using your Google account">Google</button>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    }
